body {
	background-image: url('image/background-image.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Inconsolata', monospace;
}

.color-f2 {
	color: #F2F2F2;
}

.logo img {
	display: block;
	margin: 30px auto;
}

.delimiter-vertical {
	border-left: 1px solid #F2F2F2;
	padding-left: 30px;
}

.delimiter-horizontal {
	width: 72%;
    height: 1px;
    background-color: #F2F2F2;
}

.title {
	margin-bottom: 80px;
    margin-top: 80px;
    padding: 0;
}

.title h1 {
	font-size: 4em;
}

.status,
.drop,
.activity {
	margin-bottom: 0px;
}

.streamers {
	margin: 10px 0px;
}

.streamers div {
	width: 25%;
	font-size: 25px;
	padding-left: 0px;
}

.stream-name {
	text-align: center;
  	font-size: 25px;
}

.stream-name:hover {
	color: #BF92E3;
}

.about {
	text-align: center;
	margin-top: 43px;
}

.about a {
	color: #BF92E3;
}

.drop {
    cursor: pointer;
    width: 50%;
}

.drop:hover, .drop:focus {
    color: #BF92E3;
    text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: bold;
	color: #BF92E3;
}

.dropdown-content span {
	color: gray;
}

.dropdown-content p, span {
	font-size: 20px;
	margin-left: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media only screen and (max-width: 1280px) {
	.drop {
		width: 100%;
	}
}

@media only screen and (max-width: 780px) {
	.streamers div {
		font-size: 15px;
		width: 100%;
	}
}